/* Menu ----  Barra de Navegação ----  */
#navegacao {
  background-color: #062F4F;
  border-radius:  0;
  border: 0;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#links-navegacao {
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
}

#links-navegacao li {
  margin-left: 10px;
}


#links-navegacao a:hover {
  background: #E7E7E7;
}

#sitename {
  font: Arial;
  color: #ffffff;
  font-size: 40px;
}


#colorido:hover{
  /* visited link */
    color: #00FF00;  
  /*color: #00FF00;*/
}

.btn-container1{
  margin-top: 400px;
  font-size: 100px;
}


#btn-primary{
  text-align: center;
  }
/*  */


/*----------------------------------------------------------------------*/
/* Imagem topo do site */
/*
#topo {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  background-image: url(Imgs/cidade2.png);
  background-size: 100px no-repeat;
  background-repeat: repeat-x;
  padding: 0;
  clear: both;
  display: table;
}

#corpo_topo {
  width: 1300px;
  height: 250px;
  margin: 0 auto;
}
*/
/* FIM topo do site*/



* pagina de formulario*/
/*-------------------------------------------------------------*/

#dwellingCode .moradia:hover{
  background-color: cyan;
}

.caixaform{
  margin-top: 1px;
  margin-left: 0px;
}


.form-group-form{
  margin-top: 30px;  /* distancia de uma caixa pra outra*/
}


#dwellingCode {
  width: 700px;
  margin-left: 70px;
}

.radio-container {
  clear: both;
  height: 44px;
}

.radio-container.button-3 div {
  width: 33%;
}

.radio-container div {
  margin: 0;
  display: inline-block;
  float: left;
}

.form_field {
  position: relative;
  margin: 0 0 20px;
  padding: 0;
  margin-left: 50px;
}


.currency_input {
  position: relative;
  width: 400px;
  margin-left: 50px;
}

.radio-container div input[type=radio] {
  display: none;
}


label {
  margin: 50px 0 10px;
  display: block;
}

label.classlabel {
  margin: 1px 0 1px;
  display: block;
  margin-left: 70px;
}

.input-group-addon{
  width: 1000px;
}


.radio-container div input[type=radio]+label {
  color: #555;
  font-family: Arial,sans-serif;
  font-size: .875rem;
  background: #fff;
  border: 1px #cdcdcd solid;
  border-left: none;
  padding: 14px;
  margin: 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.radio1{
  margin-left: 10px;
}


/*------------------ FORMULRIO */
.page-container {
    width: auto;
    margin: auto;
    display: grid;
  }
  
  .posting-container {
    border: none;
    padding: 20px;
  }
  
  .error-notification {
    top: 20px;
    padding: 5px;
    background-color: #ffd2d2;
    border-radius: 3px;
    border: 1px #f72626 solid;
    display: none;
  }
  
  .mobile-panels {
    padding-bottom: 60px;
  }
  /* */
  .col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
   padding-left: 1px;
  }
  
  
  
  .mobile-panels>div.show {
    display: block;
  }
  
  .mobile-panels>div {
    position: absolute;
    left: 0;
    width: 90%;
    padding: 0 5% 20px;
    height: calc(100% - 135px);
    overflow: auto;
    margin-bottom: 60px;
    animation: none;
    display: none;
  }
  
  .align-center {
    text-align: center;
  }
  
  
  .blue {
    color:#062F4F;
  }
  
  .heading.grey {
    color: #555;
  }
  .margin-top {
    margin-top: 15px;
  }
  
  .margin-bottom-0 {
    margin-bottom: 0;
  }
  .bold {
    font-weight: 400;
  }
  .heading--medium {
    font-size: 1.25rem;
    font-weight: 200;
  }
  
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  .heading.grey {
    color: #555;
  }
  
  h2.heading {
    border-bottom: 1px #cdcdcd solid;
    padding: 10px 0;
    margin-bottom: 30px;
  }
  
  label {
    margin: 30px 0 10px;
    display: block;
  }
  
  .address-button-left {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-width: 0;
    float: left;
    user-select: none;
    background: #fff;
    width: 85%;
  }
  .input_field {
    font-weight: 400;
    color: #333;
    font-size: 1rem;
    line-height: 20px;
    height: 40px;
    line-height: 45px;
    width: 100%;
    border-radius: 3px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    box-sizing: border-box;
    outline: 0;
    margin-left: 20px;
    padding: 0 15px;
    color: #323232;
    border: 1px #dcdcdc solid;
    background-color: #fff;
  }
  
  .address-button-right {
    height: 45px;
    width: 15%;
    border-radius: 0 4px 4px 0;
    float: right;
    padding: 0;
    outline: 0;
  }
  
  .btn-blue {
    background:#062F4F;
    border-color: #062F4F;
  }
  
  element.style {
    display: none;
  }
  
  .has-error .error-msg {
    /* display: block; */
  }
  
  .error-msg, .error-msg-specific {
    font-weight: 400;
    color: #f72626;
    font-size: .75rem;
    line-height: 18px;
    display: none;
    line-height: 18px;
    font-weight: 700;
  }
  
  .location_field_results_title {
    font-size: 13px;
    font-weight: 700;
    color: #525252;
    margin-bottom: 5px;
  }
  
  .error-msg, .error-msg-specific {
    font-weight: 400;
    color: #f72626;
    font-size: .75rem;
    /* line-height: 18px; */
    display: none;
    line-height: 18px;
    font-weight: 700;
  }
  
  .location_field_results_area {
    position: relative;
    top: 0;
  }
  
  .location_field_results_area {
    color: #525252;
    display: none;
    position: absolute;
    top: 65px;
    width: 100%;
    z-index: 2;
  }

/*rodape*/
  .card-footer {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: #ffffff;
}

.card-footer div.row {
    margin-bottom: 35px;
}

.card-footer hr {
    width: 80%;
    background-color: white;
}
  
  
  