@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}
/*
body {
  font-family: 'open sans', helvetica, arial, sans;
background:url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

/*  INDEX*/

/* Menu ----  Barra de Navegação ----  */
#navegacao {
  background-color: #062F4F;
  border-radius:  0;
  border: 0;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#links-navegacao {
color: #ffffff;
text-decoration: none;
text-transform: uppercase;
}

#links-navegacao li {
  margin-left: 10px;
}


#links-navegacao a:hover {
  background: #E7E7E7;
}

#sitename {
  font: Arial;
  color: #ffffff;
  font-size: 40px;
}


#colorido:hover{
  /* visited link */
    color: #00FF00;  
  /*color: #00FF00;*/
}

.btn-container1{
  margin-top: 400px;
  font-size: 100px;
}


#btn-primary{
  text-align: center;
  }
/*  */


/*----------------------------------------------------------------------*/
/* Imagem topo do site */
/*
#topo {
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
  background-image: url(Imgs/cidade2.png);
  background-size: 100px no-repeat;
  background-repeat: repeat-x;
  padding: 0;
  clear: both;
  display: table;
}

#corpo_topo {
  width: 1300px;
  height: 250px;
  margin: 0 auto;
}
*/
/* FIM topo do site*/




/*----------------------------------------------------------------------------------------------*/
/***************   BAnner **************************/
/* banner */
#main-banner {
	background: url('Imgs/quartoIniciar.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
}

#search-form {
	position: relative;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	padding-bottom: 15em;
  text-align: center;
  background-size: 100px;
}


.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  background: @blue;
  border: 1px solid darken(@blue, 5%);
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
  &:hover {
    background: lighten(@blue, 5%);
  }
  &:active {
    background: @blue; 
    box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
  }
  &:focus {
    outline: none;
  }
}

/*  fim  */




/*----------------------------------------------------------------------------------------------*/
/*  parte branca do site.... apos banner inicial    container */
#container {
  background-color: turquoise;
}

row{
  background-color: yellow;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -15px;
}


#footer ul.quick-links li {
  padding: 1px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}

#endereco div, #contato div, #tele div {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  width: 400px;
}


.col-xs-12 {
  width: 100%;
}

.grid-box, .grid-wrapper {
  width: 100%;
}





/* FIM container  */













/* Banner dois.. area das vagas*/
#main-banner2{
  background: url('Imgs/quartoBranco.jpg') no-repeat;
	background-size: cover;
	background-position: 0 30%;
  position: relative;
  background-size: 1600px;
}

#search-form2 {
	position: relative;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
	padding-bottom: 15em;
  text-align: center;

}



#search-form h1 {
	font-size: 40px;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: 300;
}

#search-form input, #search-form select, #sendjobs input, #sendjobs select, #sendjobs textarea {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit], #sendjobs input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
  transition: 0.5s;
}

#search-form input[type=submit]:hover, #sendjobs input[type=submit]:hover {
  background-color: #2B79EB;
}











h1{
  text-align: center;
  font-style: normal;
  border-color: white;
}

.carousel-inner33 {
  position: initial;
  width: 100%;
  /* overflow: hidden; */
}









/* DESCONHECIDO */
.account-pages b{
  text-align: center;

}







div #testmony-box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}




/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

img {
  /*width: 100px;*/
  height: 100px;
  object-fit: scale-down;
}


.carousel_area {
  width: 100%;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background-color: #eee;
  box-sizing: border-box;
}

.carousel slide{
  background-size: cover;
  height: 120px;
  margin-top: 10px;
}




#container-alt h4 b{
  text-align: center;

}

#last-container {
	text-align: center;
	padding: 100px 0;
}

.wrapper {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#last-container h1 {
  max-width: 1200px;
	font-size: 36px;
	margin-bottom: 50px;
}

#last-container ul {
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 10px;
}

#last-container ul li {
	list-style: none;
	text-align: left;
	border-bottom: solid 1px #CCC;
	height: 80px;
	position: relative;
}

#last-container ul li:after {
	clear: both;
	content: "";
	display: block;
}

#last-container ul li:last-child {
	border: none;
}

.clickarea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* company img */
.company-box {
	display: inline-block;
	width: 50%;
	position: relative;
	padding-left: 1%;
}

.company-box img {
	width: 100px;
	margin-top: 2.5px;
}

.company-box .company-info {
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
	text-align: left;
	position: absolute;
}

.company-box .company-info h3 {
	font-weight: 300;
	margin-bottom: 10px;
}

.company-box .company-info p {
	font-weight: bold;
}

/* company locality */
.locality {
	color: #6d6d6d;
	display: inline-block;
	width: 25%;
	position: absolute;
	height: 100%;
	/*line-height: 80px;*/
}

.locality i, .locality p {
	display: inline-block;
}

.locality i {
	margin-right: 5px;
}























/* Area de depoimentos*/
#testmony-container {
	background: url('Imgs/quartoIniciar2.jpg') no-repeat;
	background-size: cover;
}

#testmony-container h2, #testmony-container p {
	color: black;
	text-align: center;
}

#testmony-container h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

#testmony-container p {
	margin-bottom: 50px;
}

.testmony-box {
	display: inline-block;
	width: 24.5%;
	text-align: center;
}

#testmony-container .testmony-box .testmony-msg {
	background-color: #FFF;
	color: #666;
	border-radius: 10px;
	padding: 20px;
	width: 50%;
	position: relative;
	margin: 35px auto;
	font-style: italic;
}

.carousel slide{
    background-size: cover;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-right: -150px;
  z-index: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -150px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}









































/** RODAPE FOOTER/
.card-footer {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: #ffffff;
}

.card-footer div.row {
    margin-bottom: 35px;
}

.card-footer hr {
    width: 80%;
    background-color: white;
}










/* -------------------------- */

/*----------------------------------------------------*/
@grey:#2a2a2a;
@blue:#1fb5bf;
.log-form {
  width: 50%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
  
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  
  @media(max-width: 40em){
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
  -webkit-transform: translate(0%,0%);
-moz-transform: translate(0%,0%);
-o-transform: translate(0%,0%);
-ms-transform: translate(0%,0%);
transform: translate(0%,0%);
  }
  
  #tituloPessoa{
    font-size: 40px;
    color: white;
  }


  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  
  h2 {
    width: 100%;
    text-decoration-color: white;
    /*
    font-display:;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:@grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(@grey, 5%);
    //text-shadow: 0px 1px 1px darken(@grey, 5%);
    margin: 0;
    font-weight: 200;

    */
  }
  

  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
  
  
  
  .forgot {
    color: lighten(@blue, 10%);
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin:0;
    padding: 0;
    float: right;
    
    &:hover {
      color:darken(@blue, 5%);
    }
    &:active{ 
    }
  }
  
}




/* descricao*/

		.white-popup {
		  position: relative;
		  width: -moz-fit-content;
		  margin: 20px auto;
		}
		.mfp-close{
		  color: #fff !important;
    }
    




h1{
text-align: center;
font-style: normal;
border-color: white;
}

.carousel-inner33 {
position: initial;
width: 100%;
/* overflow: hidden; */
}

.grid-box, .grid-wrapper {
width: 100%;
}

/*
.card-footer {
  /margin-top: 3px;/
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
  color: #ffffff;
}

.card-footer div.row {
  margin-bottom: 35px;
  height: 300px;
}

#endereco div, #contato div, #tele div {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}



.card-footer hr {
  width: 80%;
  background-color: white;
}
*/

/*---------------------------------------------------------------*/
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #062F4F;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #062F4F; !important;
    background-size: 300px;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 1px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 1px 0;
	margin-left:5px;
	font-weight:500;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 500;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
