@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}
/*
body {
  font-family: 'open sans', helvetica, arial, sans;
background:url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

#sitename{
    font: Arial;
    font-size: 40px;
}


h1{
  text-align: center;
  font-style: normal;
  border-color: white;
}

.grid-box, .grid-wrapper {
  width: 100%;
}


/* banner */
#main-banner {
	background: url('Imgs/quartoIniciar.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
}

#search-form {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

/* Banner dois.. area das vagas*/
#main-banner2{
  background: url('Imgs/quartoBranco.jpg') no-repeat;
	background-size: cover;
	background-position: 0 55%;
	position: relative;
}

#search-form2 {
	position: relative;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15em;
	padding-bottom: 15em;
	text-align: center;
}

.btn-container1{
  margin-top: 100px;
  font-size: 100px;
}


#search-form h1 {
	font-size: 40px;
}

#search-form p {
	margin-top: 30px;
	margin-bottom: 6px;
	font-size: 20px;
	font-weight: 300;
}

#search-form input, #search-form select, #sendjobs input, #sendjobs select, #sendjobs textarea {
	background-color: #FFF;
	border-radius: 5px;
	border-color: transparent;
	padding: 10px 20px;
	font-size: 18px;
	margin: 0 10px;
}

#search-form input[type=submit], #sendjobs input[type=submit] {
	background-color: #3381f3;
	text-transform: uppercase;
	color: #FFF;
	cursor: pointer;
  transition: 0.5s;
}

#search-form input[type=submit]:hover, #sendjobs input[type=submit]:hover {
  background-color: #2B79EB;
}


.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

#navegacao {
    background-color: #062F4F;
    border-radius:  0;
    border: 0;
    /*height: 100px;*/
    padding-top: 15px;
    padding-bottom: 25px;
}

#links-navegacao {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

#links-navegacao a:hover {
    background: #E7E7E7;
}

#btn-primary{
text-align: center;
}

#main-content {
  
    /*margin-top: 1px;
    margin-bottom: 10px;*/
}

div #testmony-box{
  border: 1px solid black;
  width: 100px;
  height: 100px;
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.carousel_area {
  width: 100%;
  margin: auto;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background-color: #eee;
  box-sizing: border-box;
}

.carousel slide{
  background-size: cover;
  height: 120px;
  margin-top: 10px;
}


#container {
  background-color: turquoise;
}

row{
  background-color: yellow;
}

#container-alt h4 b{
  text-align: center;

}

#last-container {
	text-align: center;
	padding: 100px 0;
}

.wrapper {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#last-container h1 {
  max-width: 1200px;
	font-size: 36px;
	margin-bottom: 50px;
}

#last-container ul {
	padding: 0;
	border: 1px solid #CCC;
	border-radius: 10px;
}

#last-container ul li {
	list-style: none;
	text-align: left;
	border-bottom: solid 1px #CCC;
	height: 80px;
	position: relative;
}

#last-container ul li:after {
	clear: both;
	content: "";
	display: block;
}

#last-container ul li:last-child {
	border: none;
}

.clickarea {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* company img */
.company-box {
	display: inline-block;
	width: 50%;
	position: relative;
	padding-left: 1%;
}

.company-box img {
	width: 100px;
	margin-top: 2.5px;
}

.company-box .company-info {
	display: inline-block;
	margin-left: 50px;
	margin-top: 10px;
	text-align: left;
	position: absolute;
}

.company-box .company-info h3 {
	font-weight: 300;
	margin-bottom: 10px;
}

.company-box .company-info p {
	font-weight: bold;
}

/* company locality */
.locality {
	color: #6d6d6d;
	display: inline-block;
	width: 25%;
	position: absolute;
	height: 100%;
	line-height: 80px;
}

.locality i, .locality p {
	display: inline-block;
}

.locality i {
	margin-right: 5px;
}

/* Area de depoimentos*/
#testmony-container {
	background: url('Imgs/quartoIniciar2.jpg') no-repeat;
	background-size: cover;
	padding: 10em 0;
}

#testmony-container h2, #testmony-container p {
	color: black;
	text-align: center;
}

#testmony-container h2 {
	font-size: 36px;
	margin-bottom: 50px;
}

#testmony-container p {
	margin-bottom: 50px;
}

.testmony-box {
	display: inline-block;
	width: 24.5%;
	text-align: center;
}

#testmony-container .testmony-box .testmony-msg {
	background-color: #FFF;
	color: #666;
	border-radius: 10px;
	padding: 20px;
	width: 50%;
	position: relative;
	margin: 35px auto;
	font-style: italic;
}

.carousel slide{
    background-size: cover;
    height: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-right: -150px;
  z-index: 1;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -150px;
  z-index: 1;
  align-items: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

/*
#eventos, #grupos, #mapa{
    position: relative;
    background-size: 100% 100%;
    height: 250px;
}

#eventos {
    background-image: url("./evento.jpg");
}

#grupos {
    background-image: url('./grupos.jpg');
}

#grupos:hover, #eventos:hover, #mapa:hover {
    box-shadow: 0 1px 5px 1px #cccccc;
}

#eventos span, #grupos span, #mapa span {
    position: absolute;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    overflow: hidden;
    color: #ffffff;
    padding: 10px;
}
*/
.card-footer {
    /*margin-top: 3px;*/
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
    color: #ffffff;
}

.card-footer div.row {
    margin-bottom: 35px;
}

#endereco div, #contato div, #tele div {
    margin-bottom: 5px;
    text-align: center;
    width: 100%;
}

#links-navegacao li {
    margin-left: 10px;
}

#sitename {
    color: #ffffff;
    font-size: 25px;
}

.card-footer hr {
    width: 80%;
    background-color: white;
}

/*----------------------------------------------------*/
@grey:#2a2a2a;
@blue:#1fb5bf;
.log-form {
  width: 50%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
  
  box-shadow: 0px 2px 5px rgba(0,0,0,.25);
  
  @media(max-width: 40em){
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
  -webkit-transform: translate(0%,0%);
-moz-transform: translate(0%,0%);
-o-transform: translate(0%,0%);
-ms-transform: translate(0%,0%);
transform: translate(0%,0%);
  }
  
  #tituloPessoa{
    font-size: 40px;
    color: white;
  }


  form {
    display: block;
    width: 100%;
    padding: 2em;
  }
  
  h2 {
    width: 100%;
    text-decoration-color: white;
    /*
    font-display:;
    font-family: 'open sans condensed';
    font-size: 1.35em;
    display: block;
    background:@grey;
    width: 100%;
    text-transform: uppercase;
    padding: .75em 1em .75em 1.5em;
    box-shadow:inset 0px 1px 1px fadeout(white, 95%);
    border: 1px solid darken(@grey, 5%);
    //text-shadow: 0px 1px 1px darken(@grey, 5%);
    margin: 0;
    font-weight: 200;

    */
  }
  

  input {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
    &:focus {
      outline: none;
    }
  }
  
  .btn {
    display: inline-block;
    background: @blue;
    border: 1px solid darken(@blue, 5%);
    padding: .5em 2em;
    color: white;
    margin-right: .5em;
    box-shadow: inset 0px 1px 0px fadeout(white, 80%); 
    &:hover {
      background: lighten(@blue, 5%);
    }
    &:active {
      background: @blue; 
      box-shadow: inset 0px 1px 1px fadeout(black, 90%); 
    }
    &:focus {
      outline: none;
    }
  }
  
  .forgot {
    color: lighten(@blue, 10%);
    line-height: .5em;
    position: relative;
    top: 2.5em;
    text-decoration: none;
    font-size: .75em;
    margin:0;
    padding: 0;
    float: right;
    
    &:hover {
      color:darken(@blue, 5%);
    }
    &:active{ 
    }
  }
  
}

