.card-box {
    padding: 20px;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}

.text-center {
    text-align: center;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.minha-conta{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

