/*PAGINAÇÃO pagination*/
.pagination>li>a, .pagination>li>span { 
  border-radius: 50% !important; /* DEIXA ARRENDODADO*/
  margin: 0 5px; /*espaçamento entre elas*/
}

.pagination{
  margin-top: auto;
margin-left: auto;
margin-right: auto;
}
/*PAGINAÇÃO*/