@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

*{box-sizing:border-box;}
/*
body {
  font-family: 'open sans', helvetica, arial, sans;
  background:url(http://farm8.staticflickr.com/7064/6858179818_5d652f531c_h.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
*/


#img-perfil-pesson{
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

#img-anuncio{
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

#imags{
  width: 500px;
  height: 500px;
}

.container-banner{
  padding-top: 80px;
}



/* banner */
#main-banner{
  position: relative;
	background: url('../imgs/fundo-principal.png') no-repeat;
	background-size: cover;
	background-position: 0 100%;
  max-height:650px;
  width: auto;
  height: auto;
}



#banner-search {
	position: relative;
  width: 50%;
  margin-left: 50px;
	/*margin-left: auto;
	margin-right: auto;*/
	padding-top: 3em;
	padding-bottom: 15em;
  text-align: center;
  background-size: 100px;
  font-size: 1rem;
}

.text-inic{
  color: white;
    font-size: 1.6rem;
    margin-bottom: 30px;
}


#text-idd{
    margin-bottom: 30px;
      font-size: 1.2rem;
}

#banner-search h4{
  color: white;
  margin-top: 30px;
}

#banner-search p{
  color: #ffffff;
}

#logo-banner{
  margin-top: 30px;
}
#logo-banner img{
  position: relative;
  margin-left: 250px;
  margin-top: 30px;
  margin-right:auto;
  font-size: 1.2rem;
  max-width:100%;
	height:auto;
}


.input-group-append .btn, .input-group-prepend .btn {
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

/*  fim  */

/*----------------------------------------------------------------------------------------------*/
/*  parte branca do site.... apos banner inicial    container */


@media (min-width: 768px)
.container{
    padding: 100px;
    width: 950px;
}


.container-two {
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.row {
  margin-right: -15px;
  margin-left: -15px;
}


.col-md-4{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.centered-icon {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 30px;
}


.centered-icon .icon-wrapp {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 80px;
  height: 80px;
  text-align: center;
}

.centered-icon .icon-wrapp.icon-primary .fa {
  border-color: #004166;
}

.centered-icon .icon-wrapp .fa {
  position: absolute;
  font-size: 24px;
  line-height: 58px;
  width: 70px;
  height: 70px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  border: 5px solid #707479;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
/* fim da parte branca*/




/*VAGAS RECENTES*/

.container-recentes{
  background-color: #004166;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 20px;
}

/*FIM VAGAS RECENTES*/
























.container-card{
  padding-top: 100px;
}


/* CARD da pagina index */
/* card details start  */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #004166;
}

#title-card{
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.card-content {
	background: #ffffff;
	border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  margin-top: 10px;
  min-height: 400px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
  z-index: 1;
  padding-top: 10px;
}

.card-img img {
	/*width: 100%;
  height: auto; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 50%;
  border: 5px solid #004166;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #004166;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #004166;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 100px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #004166;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
.btn-card:hover {
    background: orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}

#anchor-details{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#anchor-details .btn-card{
  font-size: large;
  border-radius: 30%;
}
/* FIM CARD da pagina index */











/*seção entre em contato*/
/* caixa de duvida --  entre em contato*/
#inputDuvida{
min-height: 185px;
}

/*Botão enviar -- entre em contato*/
#buton-send{
  width: 100%;
    background: #004166;
    color: #fff;
    border: none;
    outline: 0;
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: block;
    line-height: 60px;
}

/*texto Entre em*/
.section-help {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 34px;
}
/*texto colorido--> contato <-- */
.section-help_colorido {
  color: #004166;
}








/* css da PAGINA DE PESSOAS PROCURANDO*/
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #062F4F;
    border-color: #062F4F; /*borda do botão*/
}


section {
    padding: 30px 0;
}

/* TITULO DA SEÇÃO-- PESSOAS PROCURANDO VAGAS*/
section .section-title {
    text-align: center;
    color: #004166;
    margin-bottom: 50px;
    text-transform: uppercase;
    padding-top: 100px;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    max-height: 612px;
    /*max-width: 300px; */ /*Essa linha diminui o tamnaho do card quando a tela ta pequena*/
}

/*Nome da pessoa - exemplo: Ana ana */
.frontside .card .card-title,
.backside .card .card-title {
    color: #004166; !important;
}

/*Tamanho do espaço da foto da frente*/
.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/* FIM PAGINA DE PESSOAS PROCURANDO*/






